html {
  --color--black: #0c101a;
  --color--white: #fff;
  --color--white-50: rgba(255, 255, 255, 0.5);
  --color--white-30: rgba(255, 255, 255, 0.3);
  --color--white-20: rgba(255, 255, 255, 0.2);
  --color--white-10: rgba(255, 255, 255, 0.1);
  --color--white-5: rgba(255, 255, 255, 0.05);
  --color--primary: rgb(169, 41, 169);
  --color--hover: rgb(107, 9, 107);
  --color--area: #1c212e;
  word-break: keep-all;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color--black);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: var(--color--white);
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    line-height: 1.3;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body {
    line-height: 1.2;
  }
}
@media (max-width: 479px) {
  body {
    line-height: 1.1;
  }
}

.container {
  margin: 0 auto;
}

/* FIXME: Button */
.btn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #551a8b;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  transition: 0.1s;
}
.btn-reset {
  border: none;
  background-color: rgba(14, 17, 27, 0.9);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color--white-50);
}
.btn-primary:hover {
  text-decoration: underline;
}
.btn-primary:active {
  color: red;
  box-shadow: 0 4px 0 var(--color--hover);
  transform: translateY(10px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .btn {
    height: 50px;
    font-size: 35px;
  }
  .btn-reset {
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .btn {
    height: 40px;
    font-size: 30px;
  }
  .btn-reset {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .btn {
    height: 25px;
    font-size: 25px;
  }
  .btn-reset {
    font-size: 14px;
  }
}

/* FIXME: Header */
header {
  padding: 20px 40px;
  background-color: rgba(14, 17, 27, 0.7);
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color--white);
  margin: auto;
}
header button:hover {
  text-decoration: underline;
}
header a.instar {
  flex-grow: 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--color--white-50);
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: default;
}
header .logo {
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  padding-left: 75px;
  box-sizing: content-box;
  text-shadow: 0 2px 20px #fff;
}
header a:hover {
  text-decoration: underline;
}
header a.instar:hover {
  text-decoration: none;
}
header a.instar span:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 20px 30px;
  }
  header .logo {
    font-size: 30px;
    padding-left: 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  header {
    padding: 20px 25px;
  }
  header a.instar {
    font-size: 14px;
  }
  header .logo {
    font-size: 28px;
    padding-left: 20px;
  }
}
@media (max-width: 479px) {
  header {
    padding: 20px 20px;
  }
  header a.instar {
    font-size: 12px;
  }
  header .logo {
    font-size: 20px;
    padding-left: 20px;
  }
}

/* FIXME: main-content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .img-content {
  background-image: url("../src/photo/home\(960*634\).JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 500px;
  margin: 5px auto;
}
.content .text {
  font-size: 22px;
  margin: 20px auto 10px;
}
.content .start-share {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .start-share .btn {
  margin: auto 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    margin: 20px;
  }
  .content .img-content {
    width: 600px;
    height: 400px;
    margin: 5px auto;
  }
  .content .text {
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .content {
    margin: 20px;
  }
  .content .img-content {
    width: 400px;
    height: 300px;
    margin: 5px auto;
  }
  .content .text {
    font-size: 18px;
    margin: 20px auto 10px;
  }
}
@media (max-width: 479px) {
  .content {
    margin: 20px;
  }
  .content .img-content {
    width: 350px;
    height: 250px;
    margin: 5px auto;
  }
  .content .text {
    font-size: 16px;
  }
}

/* Question section */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .title {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
}
.section .progress {
  width: 500px;
  height: 20px;
  background-color: var(--color--white-50);
  border-radius: 7px;
  margin: 10px auto;
  transition: 0.2s;
}
.section .progress .value {
  height: 20px;
  background-color: var(--color--hover);
  color: var(--color--white-50);
  text-align: center;
  border-radius: 7px;
  transition: 0.2s;
}
.section .section-content {
  --content-height: 550px;
  margin: 30px auto;
  border: 2px solid #fff;
  display: flex;
}
.section .section-content .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: calc(var(--content-height) - 30px);
}
.section .section-content .contents:hover {
  background-color: #000;
  border: 3px solid #fff;
  transform: scale(1.1);
  z-index: 6;
}
.section .section-content .contents .first,
.section .section-content .contents .second {
  width: 100%;
  height: 100%;
  background-size: 390px 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid var(--color--white);
}
.section .contents .sub-title {
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section .title {
    font-size: 25px;
    margin: 5px auto;
  }
  .section .progress {
    width: 400px;
    margin: 5px auto;
  }
  .section .section-content {
    --content-height: 450px;
  }
  .section .section-content .contents {
    width: 290px;
    height: calc(var(--content-height) - 30px);
  }
  .section .section-content .contents .first,
  .section .section-content .contents .second {
    background-size: 290px 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .section .title {
    font-size: 25px;
    margin: 5px auto;
  }
  .section .progress {
    width: 300px;
    margin: 5px auto;
  }
  .section .section-content {
    --content-height: 400px;
  }
  .section .section-content .contents {
    width: 240px;
    height: calc(var(--content-height) - 30px);
  }
  .section .section-content .contents .first,
  .section .section-content .contents .second {
    background-size: 240px 100%;
  }
  .section .contents .sub-title {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .section .title {
    font-size: 20px;
    margin: 10px auto;
  }
  .section .progress {
    width: 200px;
    margin: 10px auto;
  }
  .section .section-content {
    --content-height: 350px;
  }
  .section .section-content .contents {
    width: 190px;
    height: calc(var(--content-height) - 30px);
  }
  .section .section-content .contents .first,
  .section .section-content .contents .second {
    background-size: 190px 100%;
  }
  .section .contents .sub-title {
    font-size: 14px;
  }
}

/* Result */
.result-content {
  --content-height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-content .title {
  font-size: 23px;
  text-align: center;
  color: var(--color--white-50);
  margin: 15px auto 30px;
}
.result-content .content {
  border: 2px solid #fff;
}
.result-content .content .result-picture {
  width: 390px;
  height: calc(var(--content-height) - 30px);
  background-size: 390px 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid var(--color--white);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .result-content {
    --content-height: 490px;
  }
  .result-content .title {
    font-size: 21px;
    margin: 15px auto;
  }
  .result-content .content .result-picture {
    width: 330px;
    height: calc(var(--content-height) - 30px);
    background-size: 330px 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .result-content {
    --content-height: 430px;
  }
  .result-content .title {
    font-size: 19px;
    margin: 15px auto 20px;
  }
  .result-content .content .result-picture {
    width: 270px;
    height: calc(var(--content-height) - 30px);
    background-size: 270px 100%;
  }
}
@media (max-width: 479px) {
  .result-content {
    --content-height: 400px;
  }
  .result-content .title {
    font-size: 16px;
    margin: 15px auto 20px;
  }
  .result-content .content .result-picture {
    width: 240px;
    height: calc(var(--content-height) - 30px);
    background-size: 240px 100%;
  }
}

/* Page Not Found */
.not-found {
  display: flex;
  flex-direction: column;
}
.not-found h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--color--white-10);
  text-align: center;
  margin: 30px;
}
